
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita em todos os documentos por qualquer pessoa.
    // Esta regra é permissiva para garantir que o processo de build do Next.js e o painel de administração
    // (que não possui autenticação) funcionem corretamente.
    // Para um aplicativo em produção, implemente autenticação e restrinja o acesso de escrita
    // apenas para usuários autenticados e autorizados.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
